<div class="modal-header">
            <h3 class="modal-title">删除操作</h3>
</div>
<div class="modal-body">
      <div class="form-horizontal">
        <div class="row">
            <div class="col-sm-10" >
                确定要删除 {{singleservice.businessCardName}} 的服务吗?
            </div>

        </div>
      </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="confirmDelete(singleservice.serviceProjectId)">确定</button>
    <button class="btn btn-warning" ng-click="cancel()">取消</button>
</div>
